<app-navbar [active]="'home'"></app-navbar>

<div class="container-fluid">
    <div class="row">
        <!-- column for search -->
        <div class="col-md-2 mt-2">
            <input type="text" placeholder="Type to search..." class="form-control" 
            [(ngModel)]="searchText" name="searchText" (keydown)="searchField($event)">
        </div>

        <!-- second column -->
        <div class="col-md-6 m-md-4 mt-2">
            <app-mytable [issueType]="'myissues'"></app-mytable>
            
        </div>
        <!-- end of second column -->
    </div>
</div>

<!-- create icon -->
<!-- <i class="fa fa-plus fa-3x" id="create-icon" aria-hidden="true"></i> -->
<a [routerLink]="['/create']"><i class="fa fa-plus-circle fa-3x" id="create-icon" title="Create new issue"
    aria-hidden="true"></i>
</a>