<nav class="navbar fixed-top navbar-expand-lg bg-success navbar-dark">
    <a class="navbar-brand">IssueTracker</a>

    <button class="navbar-toggler" data-target="#mynav" aria-expanded="false" data-toggle="collapse"
        aria-controls="mynav" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [ngClass]="{'active':activeComp === 'home'}">
                <a class="nav-link" type="button" (click)="navigateHome()">Home</a>
            </li>
            <li class="nav-item" [ngClass]="{'active':activeComp === 'issues'}">
                <a class="nav-link" type="button" [routerLink]="['/issues']">Issues</a>
            </li>
            <li class="nav-item" [ngClass]="{'active':activeComp === 'my-reports'}">
                <a class="nav-link" type="button" [routerLink]="['/reports']">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" (click)="logout()">Logout</a>
            </li>

        </ul>
    </div>
</nav>