<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <!-- column for search -->
        <div class="col-md-2 mt-2">
            <input type="text" placeholder="Type to search..." class="form-control" 
            [(ngModel)]="searchText" name="searchText" (keydown)="searchField($event)">
        </div>

        <!-- second column -->
        <div *ngIf="!newSearch" class="col-md-6 m-md-4 mt-2">
            <app-mytable [issueType]="'searchIssues'" [searchText]="searchText"></app-mytable>
            
        </div>
        <div *ngIf="newSearch" class="col-md-6 m-md-4 mt-2">
            <app-mytable [issueType]="'searchIssues'" [searchText]="newSearch"></app-mytable>
            
        </div>
        <!-- end of second column -->
    </div>
</div>
